.img{
    border-radius: 7px ;
    width: 160px;
    margin: 1px;
    
}
.mis-redes{
    margin: 2px;
    
    
}
.my-picture{
    width: 100%;
}
.navbar-expand-lg{
   height: 70px;
   margin: 2px;
}
.list-group-horizontal 
.list-group-item {
color: rgb(255, 255, 255);
background-color: rgb(109, 33, 209);
font-size: 25px;
}

.container{
   margin: 60px;
   text-align: center;
   
}
.col-8,
h4{
    font-size: 20px;
    text-align: center;
}